.archive {
  margin-bottom: 8rem;
  @include respond(phone-small) {
    margin-bottom: 32px;
  }
  &__hero {
    background-image: linear-gradient(
        90deg,
        rgba(6, 22, 47, 0.7) 29.56%,
        rgba(6, 22, 47, 0) 74.95%
      ),
      url(../imgs/news1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;

    .container {
      display: flex;
      height: 100%;
      align-items: center;
      @include respond(tablet) {
        align-items: flex-end;
        padding-bottom: 52px;
      }
      @include respond(phone-small) {
        padding-bottom: 32px;
      }
    }
    @include respond(phone-small) {
      height: 393px;
    }

    &--text {
      max-width: 435px;

      .heading-tertiary {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    &--readmore {
      display: inline-block;
      text-decoration: none;
      color: $color-white;
      font-size: 16px;
      line-height: 19px;
      & svg {
        margin-left: 6px;
        transition: all 0.3s;
      }

      &:hover {
        & svg {
          transform: translateX(2px);
        }
      }
    }
  }

  &__content {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7.2rem;
    @include respond(tablet) {
      column-gap: 3.2rem;
      margin-top: 4rem;
    }
    @include respond(tab-phone) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
    @include respond(phone-small) {
      margin-top: 24px;
      gap: 24px;
    }
  }

  &__post {
    // cursor: pointer;
    &:nth-child(even) {
      margin-top: 5.2rem;
      @include respond(tab-phone) {
        margin-top: 0;
      }
    }

    &--img {
      border-radius: 16px;
      transition: all 0.4s;
    }

    // &:hover {
    //   img {
    //     transform: scale(1.02);
    //   }
    //   & h2 {
    //     color: $color-primary-light-1;
    //   }
    // }

    &--readmore {
      text-decoration: none;
      font-size: 18px;
      line-height: 22px;
      color: #3970ce;
      @include respond(phone-small) {
        font-size: 16px;
        line-height: 19px;
      }
      & svg {
        margin-left: 6px;
        transition: all 0.4s;
        path {
          fill: #3970ce;
        }
      }

      &:hover {
        color: rgba(57, 112, 206, 0.8);
        & svg {
          transform: translateX(2px);
          path {
            fill: rgba(57, 112, 206, 0.8);
          }
        }
      }
    }
  }
  &__img-box {
    border-radius: 16px;
    display: flex;
    overflow: hidden;
    height: auto;
  }
  &__showmore {
    margin-top: 7rem;
    grid-column: 1 / -1;
    justify-self: center;
    @include respond(tab-phone) {
      margin-top: 30px;
    }
    @include respond(phone-small) {
      margin-top: 12px;
    }
  }
}
