.course-right {
  width: 100%;
  padding-top: 5.2rem;
}

.details {
  width: 100%;
  background-color: $color-white;
  border: 1px solid $color-primary-light-3;
  border-radius: 12px;
  &__preview {
    position: relative;
    cursor: pointer;
    padding: 3px;
    img {
      background: linear-gradient(
          180deg,
          rgba(6, 22, 47, 0.7) 0%,
          rgba(6, 22, 47, 0.14) 51.04%,
          rgba(6, 22, 47, 0.7) 100%
        ),
        url(219108829_1904249003070345_3293118727913173931_n.jpg);
      border-radius: 8px;
    }
    &::before,
    &::after {
      content: "";
      @include absCenter;
      cursor: pointer;
    }
    &::after {
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-left: 11px solid $color-white;
      border-bottom: 7px solid transparent;
      z-index: 10;
      transition: border 0.3s;
    }
    &::before {
      z-index: 9;
      width: 5.2rem;
      height: 5.2rem;
      border-radius: 50%;
      background-color: $color-primary;
    }

    &--text {
      position: absolute;
      left: 50%;
      bottom: -2rem;
      transform: translateX(-50%);
      line-height: 2.6rem;
      color: $color-white;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s ease;
    }
    &:hover {
      & p {
        bottom: 2rem;
        opacity: 1;
        visibility: visible;
      }

      &::after {
        border-left: 11px solid rgba(255, 255, 255, 0.6);
      }
    }
  }

  &__container {
    padding: 2.4rem;
  }

  &__price {
    font-weight: 500;
    font-size: 4rem;
    line-height: 5.1rem;
    letter-spacing: -0.02em;
  }

  &__btns {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1.6rem;

    .btn {
      &,
      &:link,
      &:visited {
        @include flexCenter;
        gap: 1.6rem;
        padding: 2rem;
        border-radius: 8px;
      }
    }

    .btn-buy {
      grid-column: 1 / -1;
    }
  }

  &__aside-text {
    font-style: italic;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $color-primary-light-1;
    max-width: 30.3rem;
    margin: 0 auto;
    margin-bottom: 3.2rem;
  }

  &__includes {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .heading-h4 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -2.4rem;
      width: 3px;
      height: 2.2rem;
      background-color: $color-primary;
    }
  }

  &__include {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    &--text {
      font-size: 1.4rem;
      color: rgba(6, 22, 47, 0.8);
      span {
        font-weight: 500;
        color: $color-primary;
      }
    }
  }
}
