.guide {
  &__duration {
    line-height: 2.4rem;
    color: $color-primary-light-1;
    display: flex;
    align-items: center;
    gap: 6px;
    span {
      background-color: $color-primary-light-1;
      width: 4px;
      height: 4px;
    }
  }

  &__days {
    margin-top: 16px;
    border: 1px solid $color-primary-light-3;
    border-radius: 16px;
    width: 100%;
  }

  &__day {
    width: 100%;
    padding: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    @include respond(phone-small) {
      padding: 16pxa;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $color-primary-light-3;
    }
    &--left {
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5.2rem;
      @include respond(tab-phone) {
        gap: 40px;
      }
      @include respond(phone-small) {
        gap: 16px;
      }
      & div {
        display: flex;
        align-items: center;
        gap: 2.4rem;
        @include respond(phone-small) {
          gap: 8px;
        }
      }
      svg {
        width: 1rem;
        height: 1rem;
        transform: rotate(-90deg);
        & path {
          fill: $color-primary;
        }
      }
    }
  }

  &__which-day {
    text-transform: uppercase;
    color: rgba(6, 22, 47, 0.5);
    width: max-content;
  }

  &__time {
    color: rgba(6, 22, 47, 0.7);

    span {
      margin-right: 1.6rem;
    }
  }
}
