.guide {
  &__duration {
    line-height: 2.4rem;
    color: $color-primary-light-1;
    display: flex;
    align-items: center;
    gap: 6px;
    span {
      position: relative;
      bottom: 2.6px;
      color: $color-primary-light-1;
      font-size: 3rem;
    }
  }

  &__days {
    margin-top: 1.6rem;
    border: 1px solid $color-primary-light-3;
    border-radius: 16px;
    width: 100%;
  }

  &__day {
    width: 100%;
    padding: 2.4rem 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px solid $color-primary-light-3;
    }
    &--left {
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5.2rem;
      & div {
        display: flex;
        align-items: center;
        gap: 2.4rem;
      }
      svg {
        width: 1rem;
        height: 1rem;
        transform: rotate(-90deg);
        & path {
          fill: $color-primary;
        }
      }
    }
  }

  &__which-day {
    text-transform: uppercase;
    color: rgba(6, 22, 47, 0.5);
  }

  &__time {
    color: rgba(6, 22, 47, 0.7);

    span {
      margin-right: 1.6rem;
    }
  }
}
