.questions {
  &__left {
    grid-column: 1 / 3;
    width: 100%;
    max-width: 89.8rem;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    @include respond(tab-port) {
      grid-column: 1 / -1;
      max-width: 100%;
      gap: 12px;

      & > .heading-secondary {
        margin-bottom: 12px !important;
        font-size: 24px;
        line-height: 26px;
        @include respond(phone) {
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
  }

  &__right {
    align-self: center;
    grid-column: 3 / -1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    @include respond(tab-port) {
      grid-column: 1 / -1;
      max-width: 100%;
      gap: 24px;
    }
    @include respond(phone) {
      gap: 12px;
      .heading-secondary--large {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }

  &__img-box {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      right: 7px;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: $color-secondary-light;
      @include respond(phone) {
        width: 10px;
        height: 10px;
        top: 6px;
        right: 6px;
      }
    }
  }

  &__question-box {
    padding: 3.2rem;
    @include respond(tab-port) {
      padding: 24px;
    }
    @include respond(phone) {
      padding: 16px;
    }
    & svg {
      transition: all 0.3s ease;
      @include respond(tab-port) {
        width: 14px;
        height: 8px;
      }
      @include respond(phone) {
        width: 10px;
        height: 6px;
      }
    }
    &.active {
      & svg {
        transform: rotate(180deg);
      }

      & .questions__question {
        font-weight: 700;
      }
    }
  }

  &__question {
    font-family: $font-primary;
    font-weight: 400;
    @include respond(tab-port) {
      font-size: 20px;
      line-height: 25px;
    }
    @include respond(phone) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__answer-box {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  &__answer {
    color: $color-primary-light-1;
    padding: 3.2rem;
    padding-top: 0;
    @include respond(tab-port) {
      font-size: 16px;
      line-height: 26px;
    }
    // padding: 0 3.2rem 3.2rem 3.2rem;
  }

  &__question-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__faq {
    background-color: $color-white;
    border: 1px solid $color-primary-light-3;
    border-radius: 12px;
    cursor: pointer;
    // padding: 3.2rem;

    // transition: height 0.6s ease-in;
    // animation: ScrollFromTop 0.5s ease-out 0.75s;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 2rem;
    @include respond(tab-port) {
      margin-top: 8px;
    }
  }

  &__img {
    @include respond(phone) {
      width: 80px;
      height: 80px;
    }
  }
}
