$color-primary: #06162f;
$color-primary-light-1: rgba(6, 22, 47, 0.6);
$color-primary-light-2: rgba(6, 22, 47, 0.03);
$color-primary-light-3: rgba(6, 22, 47, 0.1);

$color-secondary-light: #14dc94;

$color-tertiary-light: rgba(33, 118, 255, 0.1);
$color-tertiary-dark: #2176ff;

$color-grey--light: rgba(255, 255, 255, 0.6);

$color-white: #fff;
$color-black: #000;
$color-red: #cf2e0a;
$color-orange: #fd9a05;

//RADIUS
$border-radius-small: 3px;

// FONT
$default-font-size: 2rem;

$font-primary: "Euclid Circular B";
$font-secondary: "Anek Latin";
$font-tertiary: "Asap";
