.footer {
  background: $color-primary-light-2;
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
  padding: 4rem;
  margin: 8rem 5.2rem 4.6rem 5.2rem;
  font-size: 18px;
  line-height: 23px;
  @include respond(small-desktop) {
    margin: 6.4rem 2.4rem;
  }
  @include respond(tab-port) {
    margin: 64px 2.4rem 44px 2.4rem;
    gap: 32px;
    padding: 24px;
  }
  @include respond(phone) {
    gap: 24px;
  }
  @include respond(phone-small) {
    margin: 40px 2.4rem 24px 2.4rem;
  }
  &__up,
  &__down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
  }

  @include respond(phone) {
    &__up {
      gap: 20px;
    }
  }

  .header__logo-box {
    &:hover svg {
      &.logo-orange {
        top: 5px;
        left: -2px;
      }
      &.logo-red {
        top: -2px;
        left: 9px;
      }
      &.logo-blue {
        top: 19px;
        left: 15px;
      }
      &.logo-green {
        top: 21px;
      }

      &.logo-red {
        top: 2.9px;
        left: 11.4px;
        transform: rotate(28deg);
      }
    }
  }

  &__list {
    list-style: none;
    width: auto;
    gap: 32px;
    row-gap: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &--privacy {
      max-width: 47.9rem;
    }
    @include respond(phone) {
      justify-content: unset;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
    }
    &:hover,
    &:active {
      color: $color-primary-light-1;
    }
  }

  &__copyright {
    color: $color-primary-light-1;
  }
}
