.bucket {
  margin-top: 7rem;
  @include respond(tab-land) {
    margin-top: 4rem;
    gap: 32px;
  }
  @include respond(tablet) {
    margin-top: 32px;
  }
  @include respond(tab-phone) {
    grid-template-columns: 1fr;
    gap: 32px;
    margin-top: 24px;
  }
  @include respond(phone-small) {
    gap: 24px;
    margin-top: 6px;
  }
  &__left {
    width: 100%;
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    @include respond(phone-small) {
      gap: 16px;
    }
  }

  &__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    .checkout__product {
      flex: 2;
    }
    @include respond(phone-small) {
      flex-direction: column;
      align-items: unset;

      & .btn {
        justify-content: center;
      }
    }

    .btn__white {
      & svg {
        transition: all 0.4s;
      }
      &:hover,
      &:active {
        box-shadow: none;
        transform: scale(0.99);

        & svg {
          transform: rotate(90deg);
        }
      }
    }
  }

  .course__img-box {
    flex: 0 1 20.7rem;
    height: 16.2rem;

    & svg {
      width: 7.1rem;
      height: 7.1rem;
    }
  }

  &__product-name {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary-light-1;
    }
  }

  &__line {
    display: flex;
    width: 100%;
    border-bottom: 1px solid $color-primary-light-3;
  }

  .btn__blue {
    margin-top: 1.6rem;
    align-self: flex-end;
    @include respond(phone-small) {
      margin-top: 8px;
    }
  }

  &__right {
    border: 1px solid $color-primary-light-3;
    border-radius: 12px;
    padding: 3.2rem;

    .btn__black {
      width: 100%;
    }
  }

  &__subtotal {
    font-weight: 500;
  }
}
